@charset  "UTf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
ul { list-style : none; }
a {text-decoration: none;}
a:link { color: #4f4f4f; }
a:visited { color: #8a8e91; }
a:hover, a:focus {
	color: #f00;
}
body {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  color: #333;
}
.center {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}


/* gnb */
.gnb {
  /* temp */
  width: 50%;
  border:1px dashed red;
}
.gnb .highmenus {
  width: 100%;
  display: flex;
  position: relative;
  border:1px dashed green;
}
.gnb .highmenus > li {
  flex-grow: 1;
}
.gnb .highmenus > li .middlemenus {
  /* position: absolute; */
  /* left: 0; */
  /* top: 32px; */
  float: left;
  border:1px dashed blue;
}