/*
stats
*/
.stats {
	width: 100%;
	/* border-bottom: 1px dashed red; */
}
.lstats .stats_container {
	width: 100%;
}
.stats .latest_container .stats .stats_container_title {
	width: 100%;
}
.stats .stats_container_title {
	padding-top: 102px;
	margin-bottom: 35px;
}
.stats .stats_container_title p{
	font-size: 30px;
	font-weight: 1000;
	display: inline-block;
}
.stats_container .chartData {
	width: 100%;
	display: flex;
}
.stats_container .chartData .canvas_container {
	/* border: 1px dashed red; */
	width: 50%;
	height: 400px;
}



/* 
latest
*/
.latest {
	width: 100%;
	height: 662px;
	/* border-bottom: 1px dashed red; */
}
.latest_container {
	width: 100%;
}
.latest_container .latest .latest_container_title {
	width: 100%;
}
.latest_container_title {
	padding-top: 102px;
	margin-bottom: 35px;
}
.latest_container_title p{
	font-size: 30px;
	font-weight: 1000;
	display: inline-block;
}
.latest_container_title img {
	position: relative;
	top: 7px;
}

/* 
record
*/
.record {
	width: 100%;
	height: 1219px;
	/* border-bottom: 1px dashed red; */
}
.record_container_title {
	padding-top:60px;
	margin-bottom:35px;
}
.record_container_title p{
	font-size:30px;
	font-weight:1000;
	display: inline-block;
}
.record_container_title img {
	position: relative;
	top: 7px;
}

/*
history_record (내 여행 기록 페이지)
*/
.latest_more {
	width: 971px;
	margin: 0 auto;
	position: relative;
	display: flex;
}
.card_list > tft-card {
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;
}
.card_list > tft-card:nth-child(3n) {
	margin-right: 0;
}

/* paging */
.paging{
	clear:both;
	margin: 60px auto;
	width:275px;
	height:25px;
	/* border:1px solid red; */
}
.paging .paging_btn{
	display:block;
	width:25px;
	height:25px;
	/* border:1px solid red; */
	float:left;
}
.paging .paging_btn a{
	display:block;
	width:100%;
	height:100%;
}
.paging_btn.btnPrev{
	background-image: url(../images/icons/pageBtn.png);
	background-position: 0% 0%;
	margin-right:30px;
}
.paging_btn.btnNext{
	background-image: url(../images/icons/pageBtn.png);
	background-position: 100% 0%;
}
.paging .paging_number li{
	float:left;
	margin-right:30px;
}

/* 떠오른 푸터 내리기 */
/* folder_card */
.windowThumbnails{
	width:1200px;
	height:1000px;
}
.folder_cards {
    float: left;
    width: 585px; height: 219px;
    background-color: var(--lightWhiteColor);
    border-radius: 18px;
    border: 1px solid var(--lightGrayColor);
    margin-right: 30px;
    margin-bottom: 20px;
}
.windowThumbnail:nth-of-type(2n) .folder_cards {
    margin-right : 0;
}
.folder_card_img {
    width: 160px; height: 160px;
    border-radius: 10px;
    background-color: #ccc;
    margin: 30px 40px 0 30px;
    float: left;
}
.folder_card_info {
    float: left;
    margin-top: 40px;
}
.folder_card_info > span {
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
    color: var(--basicTextColor);
}
.folder_card_info > p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.folder_card_data > li {
    margin-bottom: 5px;
}
.folder_card_data > li:last-child {
    margin: 0;
}
.folder_card_data > li > span {
    color: var(--mainColor);
    margin-right: 20px;
    font-size: 14px;
}
.tagIcon {
    width: 11px; height: 12px;
    display: inline-block;
    margin-right: 10px;
    
}
.adressIcon {
    background-image: url(../../images/icons/tagIcon.png);
}
.dateIcon {
    background-image: url(../../images/icons/tagIcon.png);
    background-position: -14px;
}
.scoreIcon {
    background-image: url(../../images/icons/tagIcon.png);
    background-position: -28px;
}
.folder_card_rating {
    height: 15px;
    display: inline-block;
    position: relative;
    right: 5px;
}
.folder_card_rating > li {
    float:left;
	margin-right:10px;
}