.container {
	width: 1200px;
	height: 834px;
	margin:0 auto;
}
.logo {
	height: 270px;
}
.logo>h1>a>img {
	width:300px;
	margin-left:450px;
	margin-top:136px;
}
form {
	height:500px;
}
.form_contents {
	height:200px;
}
.form_contents>p{
	width:700px;
	height:90px;
	border:1px solid #ccc;
	border-radius:50px;
	margin-left:250px;
	margin-bottom:20px;
}
.form_contents>p>span {
	display:inline-block;
	width:80px;
	height:30px;
	font-size:24px;
	font-weight:bold;
	margin-top:22px;
	margin-left:46px;
	text-align: center;
	color:#E00D32;
}
.form_contents>p>span:after {
	content:"|";
	margin-left :30px;
	color:#ccc;
}
.form_contents>p>input{
	width:500px;
	height:80px;
	border:none;
	outline:none;
	font-size:24px;
}
.buttons {
	height :340px;
}
.buttons_inner {
	width:383px;
	height:222px;
	margin-left:408px;
	margin-top :60px;
}
.buttons_inner p{
	width:384px;
	height:65px;
	border:1px solid #ccc;
	border-radius:50px;
	margin-bottom:16px;
}
.buttons_red input{
	width:384px;
	height:65px;
	background-color: #E00D32;
	border:none;
	color:#fff;
	font-size:19px;
	font-weight:bold;
	border-radius:50px;
	cursor: pointer;
}
.buttons_red input:hover{
	opacity:0.8;
}
.buttons_line input {
	display:inline-block;
	width:185px;
	height:62px;
	font-size:16px;
	border:none;
	background-color: #fff;
	cursor: pointer;
}
.buttons_line img {
	display:inline-block;
	margin-left:80px;
	position: relative;
	top: 10px
}
.guide {
	height:64px;
	margin-top:30px;
}
.guide p{
	font-size: 14px;
	text-align: center;
	margin-top:10px;
}
.guide p a{
	color: red;
	border-bottom:1px solid red;
	font-weight: bold;
}
.guide p a:hover {
	opacity: 0.6;
}