.write {
  width: 100%;
  /* border: 1px dashed red; */
}
.write_container {
  padding: 36px 0;
}
.write .frmWrite_body_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.write .frmWrite_body_button_guide {
  background-color: var(--subColor);
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  left: 37.4%;
  top: -30px;
  color: var(--basicTextColor);
}

/* 
spot
*/
#spot {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--backgroundBlckColor);
}
#spot .spot_body {
  background-color: #fff;
  margin: 15% auto;
  padding: 56px;
  border: 1px solid #888;
  width: 50%; 
}
#spot .spot_body_recommend_list {
  height: 300px;
  overflow: hidden;
}
